@model Checkbox

@{
    var fieldsetIncrement = Model.Properties.QuestionId.Split(':').Length > 1 ? $"-{Model.Properties.QuestionId.Split(':')[1]}" : null;
}

<div class="govuk-checkboxes" data-module="govuk-checkboxes">
    @for (var i = 0; i < Model.Properties.Options.Count; i++)
    {
        @if (Model.Properties.Options[i].HasDivider) {
            <div class="govuk-checkboxes__divider">@Model.Properties.Options[i].Divider</div>
        }
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                   type="checkbox"
                   value="@Model.Properties.Options[i].Value"
                   name="@Model.Properties.QuestionId"
                   id="@Model.GetListItemId(i)"
                   @(Model.Properties.Options.Any(_ => _.HasConditionalElement) ? $"data-aria-controls=conditional-{i}{fieldsetIncrement}" : string.Empty)
                   @(Model.Properties.Options[i].HasHint ? $"aria-describedby={Model.GetListItemHintId(i)}" : string.Empty)
                   @(Model.Properties.Checked || Model.Properties.Value.Contains(Model.Properties.Options[i].Value) ? "checked" : string.Empty) />

            <label class="govuk-label govuk-checkboxes__label" for="@Model.GetListItemId(i)">
                @Model.Properties.Options[i].Text
            </label>

            @if (Model.Properties.Options[i].HasHint)
            {
                <div class="govuk-hint govuk-checkboxes__hint" id="@Model.GetListItemHintId(i)">@Model.Properties.Options[i].Hint</div>
            }
        </div>

        @if (!string.IsNullOrEmpty(Model.Properties.Options[i].ConditionalElementId))
        {
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-@i@fieldsetIncrement">
                @SystemConstants.CONDITIONAL_ELEMENT_REPLACEMENT@Model.Properties.Options[i].ConditionalElementId
            </div>
        }
    }
</div>