@{
    var bannerTypeformUrl = ViewData["BannerTypeformUrl"];
}

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <partial name="TagManagerHead" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="~/assets/images/favicon-sg.png" media="print" />
    <title>@ViewData["PageTitle"] - @ViewData["Title"] - Stockport Council</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans|Source+Sans+Pro">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://www.stockport.gov.uk/assets/stylesheets/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/styles.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/form-builder.css" />
    <script type="text/javascript" src="~/assets/javascript/buttonBehaviour.js"></script>
    
</head>

<body>
    <partial name="TagManagerBody" />
    <header>
        <div class="skip-to-main-content">
            <a href="#content">Skip to main content</a>
        </div>
        <partial name="Header" />
        @RenderSection("Breadcrumb", false)

        @if (bannerTypeformUrl != null)
        {
            <div class="banner-header">
                <div class="center-wrapper">
                    <span>NEW</span><strong>This part of our website is brand new. </strong><a href="@bannerTypeformUrl" target="_blank" data-mode="1" class="typeform-share link">Give us your feedback</a> to help us improve it.
                </div>
            </div>
        }
    </header>
    @RenderSection("DashboardBanner", false)
    <main id="content">
        @RenderBody()
    </main>
    <partial name="Footer" />
</body>

</html>