@inject IOptions<StylesheetConfiguration> StylesheetConfiguration
@inject IOptions<JavascriptConfiguration> JavascriptConfiguration

@{
    var feedbackFormUrl = (string)ViewData["FeedbackForm"];
    var feedbackPhase = (string)ViewData["FeedbackPhase"];
    var displayBreadcrumbs = (bool)ViewData["DisplayBreadcrumbs"];
    var breadcrumbs = ViewData["Breadcrumbs"];
    var displayPreviewModeBanner = (bool)ViewData["PreviewMode"];
    var embeddable = Model.Embeddable ? "smbc-embeddable" : string.Empty;
}

<!doctype html>
<html lang="en" class="govuk-template flexbox no-flexboxtweener @embeddable">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#006666">
    <link rel="shortcut icon" type="image/png" href="~/assets/images/favicon-sg.png" />
    <title>@ViewData["PageTitle"] - @ViewData["Title"] - Stockport Council</title>
    <link href="@StylesheetConfiguration.Value.Stylesheet" rel="stylesheet" />
    <link href="~/assets/css/cookie-notice.css" rel="stylesheet" />
</head>

<body class="govuk-template__body">
    <partial name="CookieBanner" />
    <partial name="TagManagerHead" />
    <partial name="TagManagerBody" />

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div role="navigation">
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    </div>

    @if(displayPreviewModeBanner)
    {
        <partial name="PreviewMode" />
    }

    <partial name="Header" />

    <div class="govuk-width-container @(Model.Embeddable ? "smbc-container-embeddable" : string.Empty)">
        @if (!string.IsNullOrEmpty(feedbackPhase))
        {
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="smbc-tag govuk-phase-banner__content__tag">
                        @feedbackPhase
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service - your <a class="govuk-link" href="@feedbackFormUrl" rel="noreferrer noopener" target="_blank">feedback</a> will help us to improve it.
                    </span>
                </p>
            </div>
        }
        
        @if (displayBreadcrumbs)
        {
            <partial name="Breadcrumbs" model="@breadcrumbs" />
        }

        @if (!Model.HideBackButton)
        {
            <a href="javascript:history.back(-1)" class="govuk-back-link">Back</a>
        }

        <main class="govuk-main-wrapper " id="main-content">
            <div class="govuk-grid-row @(Model.Embeddable ? "smbc-container-embeddable" : string.Empty)">
                <div class="govuk-grid-column-two-thirds @embeddable">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <partial name="Footer" />
    <script type="text/javascript" src="@JavascriptConfiguration.Value.Javascript"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script>window.SMBCFrontend.initAll()</script>

    @if (Model.Embeddable)
    {
        <script>
            function sendHeight() {
                console.log("sending height")
                const height = document.documentElement.scrollHeight || document.body.scrollHeight;
                @* const allowedOrigins = [
                    "https://int-webplatform-stockroom.smbcdigital.net",
                    "https://qa-webplatform-stockroom.smbcdigital.net",
                    "https://stage-webplatform-stockroom.smbcdigital.net",
                    "https://www.stockrm.org"
                ]; *@
                
                window.parent.postMessage({ iframeHeight: height }, "https://int-webplatform-stockroom.smbcdigital.net");
                @* allowedOrigins.forEach(origin => {
                    console.log(`Sending height ${height} to ${origin}`);
                    window.parent.postMessage({ iframeHeight: height }, origin);
                }); *@
            }
        </script>

        <partial name="../Embedded/Index" />
    }
</body>
</html>