@using form_builder.Models.Elements;
@model form_builder.Models.Elements.AddressManual;
@{    
    var line1ElementProperties = Model.GenerateElementProperties(Model.Line1ValdationMessage, Model.GetCustomErrorId(AddressManualConstants.ADDRESS_LINE_1));
    line1ElementProperties.Add("autocomplete", "address-line1");
    line1ElementProperties.Add("class", Model.IsLine1Valid ? "govuk-input" : "govuk-input govuk-input--error");
    
    var line2Elements = Model.GenerateElementProperties();
    line2Elements.Add("autocomplete", "address-line2");
    line2Elements.Add("class", "govuk-input");
    
    var townElements = Model.GenerateElementProperties(Model.TownValdationMessage, Model.GetCustomErrorId(AddressManualConstants.TOWN));
    townElements.Add("autocomplete", "address-level1");
    townElements.Add("class", Model.IsTownValid ? "govuk-input" : "govuk-input govuk-input--error");
    
    var postcodeElements = Model.GenerateElementProperties(Model.PostcodeValdationMessage, Model.GetCustomErrorId(AddressManualConstants.POSTCODE));
    postcodeElements.Add("autocomplete", "postal-code");
    postcodeElements.Add("class", Model.IsPostcodeValid ? "govuk-input--width-10 govuk-input" : "govuk-input--width-10 govuk-input govuk-input--error");
}

@Html.Hidden(@Model.GetCustomItemId("postcode"), Model.Properties.Value)

<fieldset class="govuk-fieldset" @Model.GenerateFieldsetProperties()>
    <partial name="LegendH1" />
    
    <partial name="ChangeSearch" />
    
    @if (Model.Properties.DisplayNoResultsIAG)
    {
        <section class="govuk-inset-text">
            No address found at the postcode. Enter your address manually.
        </section>
    }

    @if (!string.IsNullOrEmpty(Model.Properties.AddressManualHint.Trim()))
    {
        <p class="govuk-hint" id=@Model.HintId>@Model.Properties.AddressManualHint</p>
    }

    <div class="govuk-form-group @(Model.IsLine1Valid ? string.Empty : " govuk-form-group--error")">
        <label class="govuk-label" for=@Model.GetCustomItemId(AddressManualConstants.ADDRESS_LINE_1)>Address line 1</label>
        <partial name="ErrorBase" model=Model.Line1ValidationModel />
        @Html.TextBox(@Model.GetCustomItemId(AddressManualConstants.ADDRESS_LINE_1), Model.Properties.AddressManualAddressLine1, line1ElementProperties)
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" class="optional" for=@Model.GetCustomItemId(AddressManualConstants.ADDRESS_LINE_2)>Address line 2
            <span>(optional)</span>
        </label>    
        @Html.TextBox(@Model.GetCustomItemId(AddressManualConstants.ADDRESS_LINE_2), Model.Properties.AddressManualAddressLine2, line2Elements)
    </div>

    <div class="govuk-form-group @(Model.IsTownValid ? string.Empty : " govuk-form-group--error")">
        <label class="govuk-label" for=@Model.GetCustomItemId(AddressManualConstants.TOWN)>Town</label>
        <partial name="ErrorBase" model=Model.TownValidationModel />
        @Html.TextBox(@Model.GetCustomItemId(AddressManualConstants.TOWN), Model.Properties.AddressManualAddressTown, townElements)
    </div>

    <div class="govuk-form-group @(Model.IsPostcodeValid ? string.Empty : " govuk-form-group--error")">
        <label class="govuk-label" for=@Model.GetCustomItemId(AddressManualConstants.POSTCODE)>Postcode</label>
        <partial name="ErrorBase" model=Model.PostcodeValidationModel />

        @Html.TextBox(@Model.GetCustomItemId(AddressManualConstants.POSTCODE), Model.Properties.AddressManualAddressPostcode, postcodeElements)
    </div>
</fieldset>