@model form_builder.ViewModels.ElementViewModel
@{
    var questionId = $"{Model.Element.Properties.QuestionId}-postcode";
    var hintId = $"{questionId}-hint";
    var errorId = $"{questionId}-error";
}

@if (Model.Element.Properties.LegendAsH1)
{
    <h1>@Model.Element.Properties.AddressLabel</h1>
}
else
{
    <label class="h2">@Model.Element.Properties.AddressLabel</label>
}

@if (@Model.Element.Properties.StockportPostcode == true)
{
    <section class="alert-information-form">
        <span class="fa fa-info-circle"></span>
        <p>@Model.Element.Properties.AddressIAG</p>
    </section>
}


<label @Model.Element.WriteOptional() for="@questionId">@Model.Element.Properties.PostcodeLabel</label>

@if (Model.Element.Properties.Optional)
{
    <span class="optional">(optional)</span>
}

@if (!string.IsNullOrEmpty(Model.Element.Properties.Hint.Trim()))
{
    <p class="description" id=@hintId>@Model.Element.Properties.Hint</p>
}

@Html.TextBox(questionId, Model.Element.Properties.Value, Model.Element.GenerateElementProperties())

@if (!Model.Element.IsValid)
{
    var validationMessage = string.IsNullOrEmpty(Model.Element.Properties.CustomValidationMessage) ? Model.Element.ValidationMessage : Model.Element.Properties.CustomValidationMessage;
    <p class="input-error-content" id="@errorId">@validationMessage</p>
}


