@using form_builder.Helpers
@using StockportGovUK.NetStandard.Models.Addresses;
@model Tuple<form_builder.ViewModels.ElementViewModel, List<AddressSearchResult>>
@{
    var questionId = $"{Model.Item1.Element.Properties.QuestionId}-address";
    var hintId = $"{questionId}-hint";
    var errorId = $"{questionId}-error";
    var addresSearchCount = $"{Model.Item2.Count} addresses found";
}

@await Html.BeginFieldSet(Model.Item1.Element, "-address")

<p><a class="back-button" href="javascript:history.back()">Change</a></p>

<legend>
    <label @Model.Item1.Element.WriteOptional() for="@questionId">@Model.Item1.Element.Properties.AddressLabel</label>
    @if (Model.Item1.Element.Properties?.Optional ?? true)
    {
        <p class="optional">(optional)</p>
    }
</legend>

@if (!string.IsNullOrEmpty(Model.Item1.Element.Properties.SelectHint))
{
    <p id=@hintId>@Html.Raw(Model.Item1.Element.Properties.SelectHint)</p>
}

<select id="@questionId" name="@questionId">
    <option value="">@addresSearchCount</option>
    @for (var i = 0; i < Model.Item2.Count; i++)
    {
        <option value="@Model.Item2[i].UniqueId">@Model.Item2[i].Name</option>
    }
</select>

@if (!Model.Item1.Element.IsValid)
{
    {
        var validationMessage = string.IsNullOrEmpty(Model.Item1.Element.Properties.CustomValidationMessage) ? Model.Item1.Element.ValidationMessage : Model.Item1.Element.Properties.CustomValidationMessage;
        <p class="input-error-content" id="@errorId">@validationMessage</p>
    }
}

@await Html.EndFieldSet()
