@model form_builder.Models.Elements.Address
@{
    var elementProperties = Model.GenerateElementProperties("Select");
    elementProperties.Add("class", Model.IsValid ? "govuk-select" : "govuk-select govuk-select--error");
}

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
    @Html.Hidden(@Model.AddressSearchQuestionId, @Model.Properties.Value)

    @if (Model.Properties.LabelAsH1)
    {
        <partial name="LabelH1" />
        <partial name="ChangeSearch" />
    }
    else
    {
        <partial name="ChangeSearch" />
        <partial name="LabelH1" />
    }


    <partial name="Hint" />
    <partial name="Error" />

    @Html.DropDownList(@Model.QuestionId, @Model.Items, elementProperties)
    <p class="smbc-body govuk-link govuk-!-margin-top-5">
        <a class="govuk-link" href="@Model.ManualAddressURL">@Model.Properties.AddressManualLinkText</a>
    </p>
</div>