@model Tuple<form_builder.ViewModels.ElementViewModel, List<SelectListItem>>
@{
    var questionId = $"{Model.Item1.Element.Properties.QuestionId}-address";
    var hintId = $"{questionId}-hint";
    var errorId = $"{questionId}-error";
    var elements = Model.Item1.Element.GenerateElementProperties("Select");
    elements.Add("class", "govuk-select");
}

@if(Model.Item1.Element.Properties.LegendAsH1) {
    <h1>@Model.Item1.Element.Properties.AddressLabel

    @if (Model.Item1.Element.Properties.Optional)
    {
        <span class="optional">(optional)</span>
    }
    </h1>
} else {
    <label class="h2">@Model.Item1.Element.Properties.AddressLabel
    @if (Model.Item1.Element.Properties.Optional)
    {
        <span class="optional">(optional)</span>
    }
    </label>
}

<div class="govuk-body">
    <p><strong>Postcode: </strong>@Model.Item1.Element.Properties.Value </p>
    <a href="@Model.Item1.ReturnURL">Change</a>
</div>

<label class="govuk-label govuk-label--m" for="@questionId" @Model.Item1.Element.WriteOptional()>@Model.Item1.Element.Properties.SelectLabel
    @if (Model.Item1.Element.Properties.Optional)
    {
        <span>(optional)</span>
    }
</label>

@if (!string.IsNullOrEmpty(Model.Item1.Element.Properties.SelectHint))
{
    <div class="govuk-hint" id=@hintId>@Html.Raw(Model.Item1.Element.Properties.SelectHint)</div>
}

@Html.DropDownList(@questionId, @Model.Item2, elements)

@if (!Model.Item1.Element.IsValid)
{
    {
        var validationMessage = string.IsNullOrEmpty(Model.Item1.Element.Properties.SelectCustomValidationMessage) ? Model.Item1.Element.ValidationMessage : Model.Item1.Element.Properties.SelectCustomValidationMessage;
        <p class="input-error-content" id="@errorId">@validationMessage</p>
    }
}
<div class="govuk-body"><a href="@Model.Item1.ManualAddressURL">I cannot find my address in the list</a></div>
