@model form_builder.Models.Elements.Booking

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">

    <partial name="LabelH1" />

    <partial name="InsetText" model="@Model.Properties.IAG" />

    @if (@Model.IsAppointmentTypeFullDay)
    {
        <partial name="InsetText" model="@Model.AppointmentTypeFullDayIAG" />
    }

    <partial name="Hint" />

    <partial name="Error" />

    @if(@Model.DisplayPreviousMonthArrow){
        <button type="submit"
                name="MONTH_REQUEST"
                value="@Model.PreviousSelectableMonth"
                formaction="/booking/booking/page-one/month"
                class="govuk-button smbc-button--link">
            Previous Month
        </button>
    }
   
    <p class="smbc-body">@Model.CurrentSelectedMonthText</p>

    @if(@Model.DisplayNextMonthArrow){
        <button type="submit"
                name="MONTH_REQUEST"
                value="@Model.NextSelectableMonth"
                formaction="/booking/booking/page-one/month"
                class="govuk-button smbc-button--link">
            Next Month
        </button>
    }

    @Html.DropDownList(Model.BookingDateQuestionId, Model.SelectList)
</div>