@model form_builder.Models.Elements.Booking

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">

    <partial name="LabelH1" />

    <partial name="InsetText" model="@Model.Properties.IAG" />

    @if (@Model.IsAppointmentTypeFullDay)
    {
        <partial name="InsetText" model="@Model.AppointmentTypeFullDayIAG" />
    }

    <partial name="Hint" />

    <partial name="Error" />


    @Html.DropDownList(Model.BookingDateQuestionId, Model.SelectList)
</div>