@model form_builder.Models.Elements.Element

<button data-prevent-double-click="true"
        @(Model.Properties.DisableOnClick ? "data-disable-on-click=true" : string.Empty)
        class="govuk-button @Model.Properties.ClassName"
        id="@Model.Properties.ButtonId"
        @(Model.Properties.Disabled ? "disabled=disabled" : string.Empty)
        data-module="govuk-button"
        type = "submit"
        formaction="index" formmethod="post"
        name="continue"
        value="continue">
    @Model.Properties.Text
</button>