@model form_builder.Models.Element

@for (var i = 0; i < Model.Properties.Options.Count; i++)
{
    var item = Model.Properties.Options[i];
    var itemHint = $"{Model.Properties.QuestionId}-{i}-hint";
    var itemId = $"{Model.Properties.QuestionId}-{i}";

    <div class="input-checkbox-container">
        @Html.CheckBox(Model.Properties.QuestionId, false , @Model.GenerateElementProperties(i))
        <label for="@itemId">@item.Text</label>

        @if (!string.IsNullOrEmpty(item.Hint))
        {
            <p><span class="checkbox-sub-label" id=@itemHint>@Html.Raw(item.Hint)</span></p>
        }
    </div>
}