@using form_builder.Helpers
@model form_builder.Models.Elements.Element
@{
    var hintId = $"{Model.Properties.QuestionId}-hint";
    var errorId = $"{Model.Properties.QuestionId}-error";
}

@await Html.BeginFieldSet(Model)

    @if(Model.Properties.LegendAsH1) {
        <h1>
            <label @Model.WriteOptional()>@Model.Properties.Label</label>
        </h1>
    } else {
        <label @Model.WriteOptional()>@Model.Properties.Label</label>
    }

    @if (!string.IsNullOrEmpty(Model.Properties.Hint))
    {
        <p id=@hintId>@Html.Raw(Model.Properties.Hint)</p>
    }

    <partial name="CheckboxOptions" />

    @if (!Model.IsValid)
    {
        {
            var validationMessage = string.IsNullOrEmpty(Model.Properties.CustomValidationMessage) ? Model.ValidationMessage : Model.Properties.CustomValidationMessage;

            <p class="input-error-content" id="@errorId">@validationMessage</p>
        }
    }

@await Html.EndFieldSet()
