@model form_builder.Models.Elements.Checkbox
<div class="govuk-checkboxes">
    @for (var i = 0; i < Model.Properties.Options.Count; i++)
    {
        <div class="govuk-checkboxes__item">            
            <input class="govuk-checkboxes__input" 
                type="checkbox" 
                value="@Model.Properties.Options[i].Value" 
                name="@Model.Properties.QuestionId" 
                id="@Model.GetListItemId(i)"
                aria-describedby="@Model.GetListItemHintId(i)" 
                @(Model.Properties.Checked ||  Model.Properties.Value.Contains(Model.Properties.Options[i].Value) ? "checked" : string.Empty) />

            <label class="govuk-label govuk-checkboxes__label" 
                for="@Model.GetListItemId(i)">@Model.Properties.Options[i].Text</label>

            @if (Model.Properties.Options[i].HasHint)
            {
                <div class="govuk-hint govuk-checkboxes__hint" id="@Model.GetListItemHintId(i)">@Model.Properties.Options[i].Hint</div>
            }
        </div>
    }
</div>