@using form_builder.Helpers
@model form_builder.Models.Elements.Element
@{
    var hintId = $"{Model.Properties.QuestionId}-hint";
    var errorId = $"{Model.Properties.QuestionId}-error";
}

@await Html.BeginFieldSet(Model)

    <legend>
        @if(Model.Properties.LegendAsH1) {
            <h1>
                @Model.Properties.Label
            </h1>
        } else {
            @Model.Properties.Label
        }
    </legend>

    @if (!string.IsNullOrEmpty(Model.Properties.Hint))
    {
        <p id=@hintId>@Html.Raw(Model.Properties.Hint)</p>
    }

    <partial name="CheckboxOptions" />

    @if (!Model.IsValid)
    {
        {
            var validationMessage = string.IsNullOrEmpty(Model.Properties.CustomValidationMessage) ? Model.ValidationMessage : Model.Properties.CustomValidationMessage;

            <p class="input-error-content" id="@errorId">@validationMessage</p>
        }
    }

@await Html.EndFieldSet()
