@using form_builder.Helpers
@model form_builder.Models.Elements.Element
@{
    var hintId = $"{Model.Properties.QuestionId}-hint";

    var dayId = $"{Model.Properties.QuestionId}-day";
    var monthId = $"{Model.Properties.QuestionId}-month";
    var yearId = $"{Model.Properties.QuestionId}-year";
    var maxYear = DateTime.Now.Year + 100;

    var errorId = $"{Model.Properties.QuestionId}-error";
    var classes = new string[] { "input-memorable-date" };
}

@await Html.BeginFieldSet(Model, classes)
    <partial name="Legend" model="@Model"/>

    <p id="@hintId">@Model.Properties.Hint</p>
    <div>
        <label for="@dayId">
            Day
        </label>
        @Html.TextBox(dayId, Model.Properties.Day, new { maxlength = "2", type = "number" })
    </div>
    <div>
        <label for="@monthId">
            Month
        </label>
        @Html.TextBox(monthId, Model.Properties.Month, new { maxlength = "2", type = "number" })
    </div>
    <div>
        <label for="@yearId">
            Year
        </label>
        @Html.TextBox(yearId, Model.Properties.Year, new { maxlength = "4", type = "number", max = maxYear })
    </div>

    @if (!Model.IsValid)
    {
        <p class="input-error-content" id="@errorId">@Model.ValidationMessage</p>
    }
@await Html.EndFieldSet()
