@using form_builder.Helpers
@model form_builder.Models.Elements.Element
@{
    var hintId = $"{Model.Properties.QuestionId}-hint";
    var errorId = $"{Model.Properties.QuestionId}-error";
    var classes = new string[] { "input-memorable-date" };
}

@await Html.BeginFieldSet(Model, classes)
    <partial name="Legend" model="@Model">

    @if(!string.IsNullOrEmpty(Model.Properties.Hint)){
        <p id="@hintId">@Model.Properties.Hint</p>
    }

    <div>
        @Html.TextBox(Model.Properties.QuestionId, Model.Properties.Date, Model.GenerateElementProperties())
    </div>

    @if (!Model.IsValid)
    {
        <p class="input-error-content" id="@errorId">@Model.ValidationMessage</p>
    }
@await Html.EndFieldSet()
