@model form_builder.Models.Elements.FileUpload
@{
    var questionId = $"{Model.Properties.QuestionId}-fileupload";
    var hintId = $"{questionId}-hint";
    var errorId = $"{questionId}-error";
    var sizeValidationError = $"{questionId}-fileSizeError";
}

@if (Model.Properties.LabelAsH1) {
    <h1>
        <label @Model.WriteOptional() for="@questionId">@Model.Properties.Label</label>
    </h1>
} else {
    <label @Model.WriteOptional() for="@questionId">@Model.Properties.Label</label>
}

@if (Model.Properties.Optional)
{
    <span class="optional">(optional)</span>
}

@if (!string.IsNullOrEmpty(Model.Properties.Hint.Trim()))
{
    <p class="description" id=@hintId>@Model.Properties.Hint</p>
}
@Html.TextBox(questionId, Model.Properties.Value, Model.GenerateElementProperties())

@if (!Model.IsValid)
{
    <p class="input-error-content" id="@errorId">@Model.ValidationMessage</p>
}
<p class="input-error-content" id="@sizeValidationError" style="display: none">The selected file must be smaller than 23MB</p>


