@model form_builder.Models.Elements.FileUpload
@{
    var questionId = $"{Model.Properties.QuestionId}-fileupload";
    var hintId = $"{questionId}-hint";
    var errorId = $"{questionId}-error";
    var sizeValidationError = $"{questionId}-fileSizeError";
    var elements =  Model.GenerateElementProperties();
    elements.Add("class", "govuk-file-upload");
}

<div class="govuk-form-group">
    @if (Model.Properties.LabelAsH1) {
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" @Model.WriteOptional() for="@questionId">@Model.Properties.Label
                @if (Model.Properties.Optional)
                {
                    <span>(optional)</span>
                }
            </label>
        </h1>
    } else {
        <label class="govuk-label" @Model.WriteOptional() for="@questionId">@Model.Properties.Label
            @if (Model.Properties.Optional)
            {
                <span>(optional)</span>
            }
        </label>
    }

    @if (!string.IsNullOrEmpty(Model.Properties.Hint.Trim()))
    {
        <span class="govuk-hint" id=@hintId>@Model.Properties.Hint</span>
    }

    @Html.TextBox(questionId, Model.Properties.Value, elements)

    @if (!Model.IsValid)
    {
        <p class="input-error-content" id="@errorId">@Model.ValidationMessage</p>
    }
    <p class="input-error-content" id="@sizeValidationError" style="display: none">The selected file must be smaller than 23MB</p>
</div>