    @if(!string.IsNullOrEmpty(Model.Label))
    {
        @if(Model.Properties.LabelAsH1 || Model.Properties.LegendAsH1)
        {
            <h1 class="govuk-label-heading">
                <label class="govuk-label govuk-label--xl" for="@Model.QuestionId">
                    @Model.Label
                    @if (Model.Properties.Optional) { <span>(optional)</span> }
                </label>
            </h1>
        } 
        else 
        {
            <label class="govuk-label @(Model.Properties.StrongLabel ? "govuk-label--m" : string.Empty)" for="@Model.QuestionId">@Model.Label
            @if (Model.Properties.Optional)
            {
                <span class="govuk-body">(optional)</span>
            }    
            </label>
        }
    }
