@using form_builder.Constants
@model form_builder.Models.Elements.MultipleFileUpload
@{
    var sizeValidationError = $"{Model.QuestionId}-fileSizeError";
    var elements = Model.GenerateElementProperties();
    elements.Add("class", "govuk-file-upload govuk-!-margin-bottom-5 govuk-!-display-block");
    var maxFileSize = $"{Model.Properties.MaxFileSize}MB";
    var maxFileSizeText = $"{Model.MaxFileSizeText}MB";
}

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">

    <partial name="LabelH1" />

    <partial name="InsetText" model="@Model.Properties.IAG" />

    <p class="smbc-body">You can upload @Model.AllowFileTypeText.</p>
    <p class="smbc-body">The maximum individual file size is @maxFileSize.</p>
    <p class="smbc-body">The total size of all your added files must not be more than @maxFileSizeText.</p>

    <partial name="Hint" />

    @if (Model.CurrentFilesUploaded.Any())
    {
        <label class="govuk-label govuk-label--s govuk-!-margin-bottom-5">Files uploaded</label>
        <table class="smbc-table govuk-grid-column-full">
            @foreach (var file in Model.CurrentFilesUploaded)
            {
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@file</td>
                    <td class="govuk-table__cell">
                        <button type="submit" name="@FileUploadConstants.FileToDelete" value="@file"
                                formaction="Index" formmethod="post" style=" background: none !important; border: none; padding: 0 !important; color: #069; text-decoration: underline; cursor: pointer;">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>

            }
        </table>
        <br />
    }

    <partial name="Error" />

    @Html.TextBox(Model.QuestionId, Model.Properties.Value, elements)

    <button data-prevent-double-click="true"
            @(Model.Properties.DisableOnClick ? "data-disable-on-click=true" : string.Empty)
            class="govuk-button govuk-button--secondary"
            id="upload"
            data-module="govuk-button">
        @SystemConstants.UploadFilesButtonText
    </button>

</div>

@if ((Model.CurrentFilesUploaded.Any() && !Model.Properties.Optional) || Model.Properties.Optional)
{
    <button data-prevent-double-click="true"
            data-disable-on-click=true
            class="govuk-button"
            id="@Model.QuestionId-SubmitButton"
            data-module="govuk-button"
            type="submit"
            formaction="index" formmethod="post"
            name="@ButtonConstants.NoDataSubmit"
            value="@ButtonConstants.NoDataSubmit">
        Continue
    </button>
}