@using form_builder.Helpers
@model form_builder.Models.Elements.Element
@{
    var hintId = $"{Model.Properties.QuestionId}-hint";
    var id = Model.Properties.QuestionId;
    var errorId = $"{Model.Properties.QuestionId}-error";
    var classes = new string[] { "input-memorable-date" };


    var max = Model.Properties.Max ?? string.Empty;
    var min = Model.Properties.Min ?? string.Empty;

}

@Html.BeginFieldSet(Model, classes)
<partial name="Legend" model="@Model" />
<p id="@hintId">@Model.Properties.Hint</p>
<div>
    <label for="@Model.Properties.QuestionId">
        Number
    </label>
    <input type="number" id="@id" name="@id" max="@max" min="@min" value="@Model.Properties.Value" />
</div>

@if (!Model.IsValid)
{
    <p class="input-error-content" id="@errorId">@Model.ValidationMessage</p>
}
@Html.EndFieldSet()