@using form_builder.Helpers
@using StockportGovUK.NetStandard.Models.Models.Verint.Lookup
@model Tuple<form_builder.ViewModels.ElementViewModel, List<OrganisationSearchResult>>
@{
    var questionId = $"{Model.Item1.Element.Properties.QuestionId}-organisation";
    var hiddenId = $"{Model.Item1.Element.Properties.QuestionId}-organisation-searchterm";
    var hintId = $"{questionId}-hint";
    var errorId = $"{questionId}-error";
    var addresSearchCount = $"{Model.Item2.Count} organisations found";
}

@await Html.BeginFieldSet(Model.Item1.Element, "-organisation")

<p>Search term: <strong id="organisation-fragment">@Model.Item1.Element.Properties.Value</strong> <a class="back-button" href="@Model.Item1.ReturnURL">Change</a></p>
@Html.Hidden(hiddenId, @Model.Item1.Element.Properties.Value)

<legend>
    <label @Model.Item1.Element.WriteOptional() for="@questionId">@Model.Item1.Element.Properties.SelectLabel</label>
    @if (Model.Item1.Element.Properties.Optional)
    {
        <span class="optional">(optional)</span>
    }
</legend>

@if (!string.IsNullOrEmpty(Model.Item1.Element.Properties.SelectHint))
{
    <p id=@hintId>@Html.Raw(Model.Item1.Element.Properties.SelectHint)</p>
}

<select id="@questionId" name="@questionId">
    <option value="">@addresSearchCount</option>
    @for (var i = 0; i < Model.Item2.Count; i++)
    {
        <option value="@Model.Item2[i].Reference|@Model.Item2[i].Name">@Model.Item2[i].Name @Model.Item2[i].Address</option>
    }
</select>

@if (!Model.Item1.Element.IsValid)
{
    {
        var validationMessage = string.IsNullOrEmpty(Model.Item1.Element.Properties.SelectCustomValidationMessage) ? Model.Item1.Element.ValidationMessage : Model.Item1.Element.Properties.SelectCustomValidationMessage;
        <p class="input-error-content" id="@errorId">@validationMessage</p>
    }
}
@await Html.EndFieldSet()
