@model Tuple<form_builder.ViewModels.ElementViewModel, List<SelectListItem>>
@{
    @* TODO : Need to work out how to get rid of this... *@
    var hiddenId = $"{Model.Item1.Element.Properties.QuestionId}-organisation-searchterm";
    
    var elementProperties = Model.Item1.Element.GenerateElementProperties("Select");
    elementProperties.Add("class", "govuk-select");
}

@Html.Hidden(hiddenId, @Model.Item1.Element.Properties.Value)

<div class="govuk-form-group @(!Model.Item1.Element.IsValid ? "govuk-form-group--error" : string.Empty)">

    <partial name="LabelH1" model=@Model.Item1.Element />

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Organisation</h2>
    <p class="govuk-body">
        <strong class="govuk-!-margin-right-3">@Model.Item1.Element.Properties.Value</strong>
        <a class="govuk-link" href="@Model.Item1.ReturnURL">Change</a>
    </p>

    @* 
    TODO:Do we really need a select hint ?
    @if (!string.IsNullOrEmpty(Model.Item1.Element.Properties.SelectHint))
    {
        <p class="govuk-hint" id=@Model.Item1.Element.HintId>
            @Html.Raw(Model.Item1.Element.Properties.SelectHint)
        </p>
    } *@

    <partial name="Error"  model=@Model.Item1.Element />

    @Html.DropDownList(Model.Item1.Element.QuestionId, @Model.Item2, elementProperties)
</div>