@using form_builder.Helpers
@model form_builder.Models.Element
@{
    var hintId = $"{Model.Properties.QuestionId}-hint";
    var errorId = $"{Model.Properties.QuestionId}-error";
}

<div>

    @await Html.BeginFieldSet(Model)
    <legend class="sr-only">@Model.Properties.Label</legend>
    <label>@Model.Properties.Label</label>

    @if (!string.IsNullOrEmpty(Model.Properties.Hint))
    {
        <span id=@hintId>@Model.Properties.Hint</span>
    }

    <div>
        <partial name="RadioOptions" />

        @if (!Model.IsValid)
        {
            {
                var validationMessage = string.IsNullOrEmpty(Model.Properties.CustomValidationMessage) ? Model.ValidationMessage : Model.Properties.CustomValidationMessage;

                <p class="input-error-content" id="@errorId">@validationMessage</p>
            }
        }
    </div>

    @await Html.EndFieldSet()
</div>