@model form_builder.Models.Elements.Element
@{
    var questionId = $"{Model.Properties.QuestionId}-street";
    var hintId = $"{questionId}-hint";
    var errorId = $"{questionId}-error";
    var streetLabel = string.IsNullOrEmpty(Model.Properties.StreetLabel) ? "Search for a street" : Model.Properties.StreetLabel;
}

<label @Model.WriteOptional() for="@questionId">@streetLabel</label>

@if (Model.Properties.Optional)
{
    <p class="optional">(optional)</p>
}

@if (!string.IsNullOrEmpty(Model.Properties.Hint.Trim()))
{
    <p class="description" id=@hintId>@Model.Properties.Hint</p>
}

@Html.TextBox(questionId, Model.Properties.Value, Model.GenerateElementProperties())

@if (!Model.IsValid)
{
    var validationMessage = string.IsNullOrEmpty(Model.Properties.CustomValidationMessage) ? Model.ValidationMessage : Model.Properties.CustomValidationMessage;
    <p class="input-error-content" id="@errorId">@validationMessage</p>
}
