@model form_builder.Models.Elements.Street
@{    
    var elementProperties = Model.GenerateElementProperties("Select");
    elementProperties.Add("class", "govuk-select");

    if(!Model.IsValid){
        elementProperties.Add("class", "govuk-select--error");
    }
}

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
    @Html.Hidden(@Model.StreetSearchQuestionId, @Model.Properties.Value)
    
    @if(Model.Properties.LabelAsH1)
    {
        <partial name="LabelH1" />
    
        <partial name="ChangeSearch" />
    }
    else{
        <partial name="ChangeSearch" />

        <partial name="LabelH1" />
    }

    <partial name="Hint" />

    <partial name="Error" />

    @Html.DropDownList(@Model.QuestionId, @Model.Items, elementProperties)
</div>