    @model TimePeriod

<div class="smbc-time__body smbc-time__body__conditional smbc-time__body__conditional--hidden" id="@Model.Id">
    @if (!Model.HasAppointments)
    {
        <partial name="TimePeriodNoAppointments" model="Model" />
    }
    else
    {
        for (int i = 0; i < Model.Appointments.Count; i++)
        {
            var startTime = Model.Appointments[i].StartTime;
            var endTime = Model.Appointments[i].EndTime;
            <div class="smbc-time__time">
                <input class="smbc-time__time__input"
                       type='radio'
                       @(Model.CurrentValue.Equals(Model.Value(startTime).ToString()) ? "checked" : string.Empty)
                       value="@Model.Value(startTime)|@Model.Value(endTime)"
                       name='@Model.Id'
                       aria-describedby="@Model.GetTimeInputHint(i)"
                       id="@Model.Value(startTime)" />
                <label aria-label="@Model.ToFullDateFormat(startTime)" class="smbc-time__time__label @Model.GetClassNameForDivsPosition(i)" for="@Model.Value(startTime)">@Model.Value(startTime).ToTimeFormat()</label>
            </div>
        }

        for (int i = 1; i < Model.Appointments.Count % 3; i++)
        {
            <div class="smbc-time__time"></div>
        }
    }
</div>
