@model TimeHeaderViewModel

<div class="smbc-time__header">
    <div class="smbc-time__period">
        <input class="smbc-time__period__input" 
            @(Model.SelectedTimePeriod == ETimePeriod.Morning ? "checked" : string.Empty) 
            type='radio' 
            value='@BookingConstants.APPOINTMENT_TIME_OF_DAY_MORNING' 
            name='@Model.Date.Day@BookingConstants.APPOINTMENT_TIME_OF_DAY_SUFFIX' 
            id='morning-@Model.DataAriaControlsIdForMorning' 
            data-aria-controls="@Model.DataAriaControlsIdForMorning"
        />
        <label class="smbc-time__period__label smbc-time__period__label--left" for='morning-@Model.DataAriaControlsIdForMorning'>@BookingConstants.APPOINTMENT_TIME_OF_DAY_MORNING</label>
    </div>
    <div class="smbc-time__period">
        <input class="smbc-time__period__input" 
            @(Model.SelectedTimePeriod == ETimePeriod.Afternoon ? "checked" : string.Empty) 
            type='radio' 
            value='@BookingConstants.APPOINTMENT_TIME_OF_DAY_AFTERNOON' 
            name='@Model.Date.Day@BookingConstants.APPOINTMENT_TIME_OF_DAY_SUFFIX' 
            id='afternoon-@Model.DataAriaControlsIdForAfternoon' 
            data-aria-controls="@Model.DataAriaControlsIdForAfternoon" 
        />
        <label class="smbc-time__period__label smbc-time__period__label--right" for='afternoon-@Model.DataAriaControlsIdForAfternoon'>@BookingConstants.APPOINTMENT_TIME_OF_DAY_AFTERNOON</label>
    </div>
</div>