@model Declaration
@{
    var questionId = Model.Properties.QuestionId;
}

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
    @Html.BeginFieldSet(Model, new string[] { "govuk-fieldset" })

    @if (!Model.Properties.HideLabel) {
        <partial name="LegendH1" />
    }

    <partial name="Hint" />

    <partial name="Error" />

    <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            <input 
                class="govuk-checkboxes__input" 
                type="checkbox" 
                value="true" 
                name="@questionId" 
                id="@questionId" 
                @(Model.Properties.Checked || !string.IsNullOrEmpty(Model.Properties.Value) ? "checked" : string.Empty) />

            <label class="govuk-label govuk-checkboxes__label" for="@questionId">@Model.Properties.Text
                @if (Model.Properties.Optional && !Model.Properties.HideOptionalText)
                {
                    <span class="smbc-body">(optional)</span>
                }
            </label>
        </div>
    </div>

    @Html.EndFieldSet()
</div>