@model Element
@{
    var hintId = $"{Model.Properties.QuestionId}-hint";
    var errorId = $"{Model.Properties.QuestionId}-error";
    var itemName = $"{Model.Properties.QuestionId}";
    var itemId = $"{Model.Properties.QuestionId}";
    var hint = Model.Properties.Hint;
}

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
    @Html.BeginFieldSet(Model)

    @if (!Model.Properties.HideLabel) {
        <partial name="LegendH1" />
    }

    <partial name="Hint" />

    <partial name="Error" />

    <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            @if (Model.Properties.Checked)
            {
                <input class="govuk-checkboxes__input" type="checkbox" value="true" name="@itemName" id="@itemId" aria-describedby="@hintId" checked />
            }
            else if (!string.IsNullOrEmpty(Model.Properties.Value))

            {
                <input class="govuk-checkboxes__input" type="checkbox" value="true" name="@itemName" id="@itemId" aria-describedby="@hintId" checked />
            }
            else
            {
                <input class="govuk-checkboxes__input" type="checkbox" value="true" name="@itemName" id="@itemId" aria-describedby="@hintId" />
            }

            @if (Model.Properties.Optional)
            {
                <label class="govuk-label govuk-checkboxes__label" for="@itemId">@Model.Properties.Text</label>
            }
            else
            {
                <label class="govuk-label govuk-checkboxes__label" for="@itemId">@Model.Properties.Text</label>
            }
        </div>
    </div>

    @Html.EndFieldSet()
</div>