@using form_builder.Constants;
@model form_builder.Models.Elements.Booking

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
    @Html.Hidden(Model.GetCustomItemId(BookingConstants.RESERVED_BOOKING_DATE), Model.ReservedBookingDate)
    @Html.Hidden(Model.GetCustomItemId(BookingConstants.RESERVED_BOOKING_ID), Model.ReservedBookingId)

    <partial name="LabelH1" />

    <partial name="InsetText" model="@Model.Properties.IAG" />

    @if (@Model.IsAppointmentTypeFullDay)
    {
        <partial name="InsetText" model="@Model.AppointmentTypeFullDayIAG" />
    }

    @if(@Model.DisplayNextAvailableAppointmentIAG){
         <partial name="InsetText" model="@Model.Properties.NextAvailableAppointment" />
    }

    <partial name="Hint" />

    <partial name="Error" />

    <partial name="Calendar" model="@Model" />
</div>