@model form_builder.Models.Elements.Booking

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
    @Html.BeginFieldSet(Model, new string[] { "govuk-fieldset" })

    @Html.Hidden($"{Model.Properties.QuestionId}-{BookingConstants.RESERVED_BOOKING_DATE}", Model.ReservedBookingDate)
    @Html.Hidden($"{Model.Properties.QuestionId}-{BookingConstants.RESERVED_BOOKING_TIME}", Model.ReservedBookingTime)
    @Html.Hidden($"{Model.Properties.QuestionId}-{BookingConstants.RESERVED_BOOKING_ID}", Model.ReservedBookingId)
    @if (@Model.IsAppointmentTypeFullDay)
    {
        @Html.Hidden(Model.BookingTimeQuestionId, Model.AppointmentTime)
    }

    <partial name="LegendH1" />

    <partial name="InsetText" model="@Model.Properties.IAG" />

    @if (@Model.IsAppointmentTypeFullDay)
    {
        <partial name="InsetText" model="@Model.AppointmentTypeFullDayIAG" />
    }

    @if (@Model.DisplayNextAvailableAppointmentIAG)
    {
        <partial name="InsetText" model="@Model.Properties.NextAvailableIAG" />
    }

    <partial name="Hint" />

    <partial name="Error" />

    <partial name="Calendar" model="@Model" />
    @Html.EndFieldSet()
</div>