@model Booking

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)" data-module="smbc-calendar">

    @Html.BeginFieldSet(Model, new string[] { "govuk-fieldset" })

    @* Do not delete - this is to temporarily ensure hitting "enter" on the form, triggers submit, 
        AND not to trigger the first submit input on the page which was previously either "next" or "prev" month *@
    <input type="submit" tabindex="-1" class="govuk-visually-hidden" />
    
    @Html.Hidden(Model.GetCustomItemId(BookingConstants.RESERVED_APPOINTMENT_ID), Model.ReservedAppointmentId)
    @Html.Hidden(Model.GetCustomItemId(BookingConstants.RESERVED_BOOKING_DATE), Model.ReservedBookingDate)
    @Html.Hidden(Model.GetCustomItemId(BookingConstants.RESERVED_BOOKING_START_TIME), Model.ReservedBookingStartTime)
    @Html.Hidden(Model.GetCustomItemId(BookingConstants.RESERVED_BOOKING_END_TIME), Model.ReservedBookingEndTime)
    @Html.Hidden(Model.GetCustomItemId(BookingConstants.RESERVED_BOOKING_ID), Model.ReservedBookingId)
    @if (Model.IsAppointmentTypeFullDay)
    {
        @Html.Hidden(Model.GetCustomItemId(BookingConstants.APPOINTMENT_START_TIME), Model.AppointmentStartTime)
        @Html.Hidden(Model.GetCustomItemId(BookingConstants.APPOINTMENT_END_TIME), Model.AppointmentEndTime)
    }

    <partial name="LegendH1" />

    <partial name="WarningText.cshtml" />

    <partial name="InsetText" model="Model.Properties.IAG" />

    @if (Model.DisplayInsetText)
    {
        <partial name="InsetText" model="Model.InsetText" />
    }

    <partial name="Hint" />

    <partial name="Error" />

    <partial name="Calendar" model="Model" />

    @if (!Model.IsAppointmentTypeFullDay)
    {
        <partial name="Time" model="Model.Times" />
    }

    @Html.EndFieldSet()
</div>