@model form_builder.Models.Elements.Booking

<div class="smbc-calendar-border smbc-calendar-border__header">
    <div class="smbc-calendar-header">
        @if (@Model.DisplayPreviousMonthArrow)
        {
            <button class="smbc-chevron-button smbc-chevron-button__left govuk-!-padding-0" 
                name="@BookingConstants.BOOKING_MONTH_REQUEST" 
                value="@Model.PreviousSelectableMonth"
                formaction="@Model.MonthSelectionPostUrl">
                <div class="smbc-chevron-hover govuk-!-padding-0">
                    <span class="smbc-chevron"></span>
                </div>
            </button>
        }
        <p class="govuk-body smbc-calendar-header-text govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-margin-top-0">
            @Model.CurrentSelectedMonthText
        </p>
        @if (@Model.DisplayNextMonthArrow)
        {
            <button class="smbc-chevron-button smbc-chevron-button__right govuk-!-padding-0"
                name="@BookingConstants.BOOKING_MONTH_REQUEST" 
                value="@Model.NextSelectableMonth"
                formaction="@Model.MonthSelectionPostUrl">
                <div class="smbc-chevron-hover govuk-!-padding-0">
                    <span class="smbc-chevron"></span>
                </div>
            </button>
        }
    </div>
</div>