@model form_builder.ViewModels.CalendarDayViewModel

@{
    var disabledClass = "smbc-body smbc-date-disabled govuk-!-margin-bottom-0";
}

@if (Model.Day.IsDisabled)
{
    if (Model.Day.IsNotWithinCurrentSelectedMonth)
    {
        <td>
            <span class="@disabledClass"></span>
        </td>
    }
    else
    {
        <td>
            <span class="@disabledClass">@Model.Day.Date.Day</span>
        </td>
    }
}
else
{
    <td>
            <input type="radio"
                value="@Model.Day.Date"
                name="@Model.QuestionId"
                id="@Model.InputId" 
                aria-describedby="@Model.GetCalendarHint()"
                @(Model.Day.Checked ? "checked" : string.Empty) />

            <label aria-hidden="true" 
                class="smbc-body govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-0"
                for="@Model.InputId">
                @Model.Day.Date.Day
            </label>

            <span class="govuk-visually-hidden" id="@Model.GetCalendarHint()">@Model.Day.Date.ToString("dddd dd MMMM")</span>
    </td>
}