@model CalendarDayViewModel

@if (Model.Day.IsDisabled)
{
    <td class="smbc-calendar__cell smbc-calendar__cell--disabled">
        @if(!Model.Day.IsNotWithinCurrentSelectedMonth)
        {
            <span aria-hidden="true" class="smbc-calendar__label smbc-calendar__label--disabled">@Model.Day.Date.Day</span>
        }
    </td>
}
else
{
    <td class="smbc-calendar__cell">

        <input type="radio" data-aria-controls="@Model.InputId-conditional" class="smbc-calendar__input" value="@Model.Day.Date" name="@Model.QuestionId" id="@Model.InputId" aria-describedby="@Model.GetCalendarHint()" @(Model.Day.Checked ? "checked" : string.Empty) />

        <label aria-label="@Model.Day.Date.ToString("dddd dd MMMM")" class="smbc-calendar__label" for="@Model.InputId">
            @Model.Day.Date.Day
        </label>
    </td>
}