@using form_builder.Constants;
@model form_builder.Models.Elements.Booking

@Html.Hidden(@Model.BookingDateQuestionId, @Model.Properties.Value)
@Html.Hidden(@Model.BookingTimeQuestionId, @Model.AppointmentTime)
@Html.Hidden($"{Model.Properties.QuestionId}-{BookingConstants.RESERVED_BOOKING_DATE}", Model.ReservedBookingDate)
@Html.Hidden($"{Model.Properties.QuestionId}-{BookingConstants.RESERVED_BOOKING_TIME}", Model.ReservedBookingTime)
@Html.Hidden($"{Model.Properties.QuestionId}-{BookingConstants.RESERVED_BOOKING_ID}", Model.ReservedBookingId)

<h1 class="govuk-heading-l">Check your booking</h1>
<table class="govuk-table">
    <tr class="govuk-table__row">
        <th scope="row" class="smbc-table__header">Date:</th>
        <td class="govuk-table__cell">@Model.FormattedDateForCheckYourBooking</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="smbc-table__header">Time:</th>
        <td class="govuk-table__cell">@Model.FormattedTimeForCheckYourBooking</td>
    </tr>
</table>