@model form_builder.Models.Elements.Booking

@Html.Hidden(@Model.BookingDateQuestionId, @Model.Properties.Value)
<h1 class="govuk-heading-l">Check your booking</h1>
<table class="govuk-table">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Date:</th>
        <td class="govuk-table__cell">@Model.FormattedDateForCheckYourBooking</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Time:</th>
        <td class="govuk-table__cell">@Model.FormattedTimeForCheckYourBooking</td>
    </tr>
</table>