@model Element
@{
    var maxYear = DateTime.Now.Year + 100;
    var inputClassesShort = "govuk-input govuk-date-input__input govuk-input--width-2";
    var inputClassesLong = "govuk-input govuk-date-input__input govuk-input--width-4";
    var labelClasses = "govuk-label";

    var dayId = Model.GetCustomItemId("day");
    if (Model.Properties.StrongLabel)
    {
        labelClasses += " govuk-label--s";
    }
    else
    {
        labelClasses += " govuk-date-input__label";
    }

    if (!Model.IsValid)
    {
        inputClassesShort += " govuk-input--error";
        inputClassesLong += " govuk-input--error";
    }
}

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
    @Html.BeginFieldSet(Model, new string[] { "govuk-fieldset" })

    <partial name="LegendH1" />

    <partial name="InsetText" model="Model.Properties.IAG" />

    <partial name="Hint" />

    <partial name="Error" />

    <div class="govuk-date-input">
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="@labelClasses" for=@Model.GetCustomItemId("day")>
                    Day
                </label>
                @Html.TextBox(Model.GetCustomItemId("day"), Model.Properties.Day, new { autocomplete = "bday-day", maxlength = "2", type = "number", @class = inputClassesShort })
            </div>
        </div>

        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="@labelClasses" for=@Model.GetCustomItemId("month")>
                    Month
                </label>
                @Html.TextBox(Model.GetCustomItemId("month"), Model.Properties.Month, new { autocomplete = "bday-month", maxlength = "2", type = "number", @class = inputClassesShort })
            </div>
        </div>

        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="@labelClasses" for=@Model.GetCustomItemId("year")>
                    Year
                </label>
                @Html.TextBox(Model.GetCustomItemId("year"), Model.Properties.Year, new { autocomplete = "bday-year", maxlength = "4", type = "number", @class = inputClassesLong, max = maxYear })
            </div>
        </div>
    </div>
    @Html.EndFieldSet()
</div>