@model SuccessViewModel
@{
    ViewData["Title"] = "Submit";
    ViewData["DisplayBreadcrumbs"] = Model.DisplayBreadcrumbs;
    ViewData["Breadcrumbs"] = Model.Breadcrumbs;
    ViewData["PreviewMode"] = Model.IsInPreviewMode;
}

<h1 class="govuk-heading-l">Your answers</h1>

<div class="smbc-panel smbc-panel--confirmation">
    @if (!string.IsNullOrWhiteSpace(Model.Reference))
    {
        <div class="smbc-panel__body smbc-!-font-word-break">Your reference number is: <strong>@Html.Raw(Model.Reference)</strong></div>
    }
</div>

@foreach (var currentPage in Model.FormAnswers.Pages)
{
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-m">@currentPage.PageSlug</h2>

        @foreach (var question in currentPage.Answers)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@question.QuestionId</dt>
                <dd class="govuk-summary-list__value">@question.Response</dd>
            </div>
        }
    </dl>
}

@if (Model.FormAnswers.AdditionalFormData.Any())
{
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-m">Additional Non Question Answers</h2>
        @foreach (var additonalData in Model.FormAnswers.AdditionalFormData)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@additonalData.Key</dt>
                <dd class="govuk-summary-list__value">@additonalData.Value</dd>
            </div>
        }
    </dl>
}
