@model Textarea
@{
    var elementProperties = Model.GenerateElementProperties();
    elementProperties.Add("class", !Model.IsValid
        ? "govuk-textarea govuk-js-character-count govuk-textarea--error"
        : "govuk-textarea govuk-js-character-count");
}

@if (Model.DisplayCharacterCount)
{
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="@Model.Properties.MaxLength">
        <div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
            <partial name="LabelH1" />

            <partial name="InsetText" model="Model.Properties.IAG" />

            <partial name="Hint" />

            <partial name="Error" />

            @Html.TextArea(Model.QuestionId, Model.Properties.Value, elementProperties)
        </div>

        <span id=@Model.GetCustomItemId("info") class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to @Model.Properties.MaxLength characters
        </span>
    </div>
}
else
{
    <div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
        <partial name="LabelH1" />

        <partial name="InsetText" model="Model.Properties.IAG" />

        <partial name="Hint" />

        <partial name="Error" />

        @Html.TextArea(Model.QuestionId, Model.Properties.Value, elementProperties)
    </div>
}